
html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-image: url(img/wanshuinnsunseteditedblurred.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}  

.login-container{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
}

.login-box{
    height: 90vh;
    width: 150vh;
    background-color: rgb(255, 255, 255);
    margin-left:30vh;
    margin-top: 5vh;
    position: absolute;
    border-radius: 30px;
    font-family: 'Candara';
}
.left{
    float: left;
    margin-top: 2vh;
}
.img-login{
    width: 50vh;
    margin-top: 2vh;
}
span{
    font-size: 3.5vh;
  
}
.form{
    margin-left:5vh;
}
input{
    margin-top: 1%;
    margin-bottom: 2.5vh;
    border:none;
    border-bottom: 2px solid black;
    width: 48vh;
    font-size: 2.5vh;
    text-decoration: none;
    padding-left: 1vh;
    outline: none;
}

button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    width: 49vh;
    height: 5vh;
    font-size: 3vh;
    
}
.subtext{
    margin-top: 0.5vh;
    font-size: 2.5vh;
    margin-left: 10vh;
}
a{
    color: blue;
}


.image{
    margin-top: 1.2vw;
    width: 60%;
    height: 85vh;
    object-fit: cover;
    float: right;
    margin-right: 1.2vw;
    border-radius: 30px;

}

.close{
    position: absolute;
    border: 4px solid black;
    font-size: 6vh;
    width: 7vh;
    text-align: center;
    border-radius: 35px;
    margin-top: 0.4vh;
    margin-left: -4.5vh;
}
.gotohome{
    text-decoration: none;
    color: black;

}

.gotohome:hover{
   color: white;
}
.close:hover{
    background-color: black;
    color: white;
}
